# Default ignored files
/shelf/
/workspace.xml
# Datasource local storage ignored files
/../../../../:\mywork\spring-cloud-kubernetes-practice\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
